/* 기본 초기화 */
body { margin: 0; background-color: #f5f5f5; font-family: 'Pretendard', sans-serif; }

/* 상단 배너 */
.top-hero {
    /* 배경 이미지와 어두운 그라데이션 중첩 */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
                      url('../images/common/back_community.jpg'); 
    
    background-size: cover;      /* 이미지가 꽉 차게 */
    background-position: center; /* 정중앙 기준 */
    background-repeat: no-repeat;
    height: 245px;               /* 배너의 고정 높이 */
    width: 100%;
}


/* 중앙 박스 */
.main-container {
    max-width: 1100px;
    margin: -100px auto 50px; /* 배너 위로 띄우기 */
    background: #fff;
    border-radius: 20px;
    padding: 40px 50px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    position: relative;
}
.header-left .title strong{
    color:#042e5c;
}

/* 헤더 & 탭 */
.board-header { display: flex; justify-content: space-between; border-bottom: 1px solid #eee; padding-bottom: 20px; }
.tab-menu { display: flex; gap: 20px; margin-top: 20px; }
.tab-menu a { text-decoration: none; color: #999; font-weight: bold; padding-bottom: 10px; }
.tab-menu a.active { color: #003366; border-bottom: 3px solid #003366; }

/* 검색창 */
.search-box { border: 1px solid #ddd; border-radius: 30px; padding: 8px 20px; width: 350px; display: flex; }
.search-box input { border: none; flex: 1; outline: none; }
.search-box button { background: none; border: none; color: #003366; font-weight: bold; cursor: pointer; }

/* 게시글 */
.post-item { padding: 20px 0; border-bottom: 1px solid #f0f0f0; }
.post-title { display: block; font-size: 18px; color: #333; text-decoration: none; margin: 8px 0; }
.notice .post-title { color: #0066cc; font-weight: bold; }
.post-meta { font-size: 13px; color: #aaa; }
.tag { color: #00acc1; border: 1px solid #00acc1; padding: 2px 8px; border-radius: 15px; font-size: 11px; margin-right: 5px; }

/* 페이지네이션 */
.pagination { display: flex; justify-content: center; gap: 8px; margin-top: 40px; }
.num, .arrow { text-decoration: none; width: 35px; height: 35px; display: flex; align-items: center; justify-content: center; border: 1px solid #eee; color: #666; }
.num.active { background: #003366; color: #fff; }

.btn-write { background: #000; color: #fff; padding: 8px 20px; border-radius: 5px; cursor: pointer; float: right; margin-bottom: 20px; border: none; }